parameters:
    locale: 'en'
    app.notifications.email_sender: admin@localhost
    api_media_base_url: '%env(API_MEDIA_BASE_URL)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/*/Infrastructure/DataFixtures/'
            - '../src/DependencyInjection/'
            - '../src/*/Domain/Entity/'
            - '../src/*/Transport/EventListener/'
            - '../src/Kernel.php'

    app.serializer.normalizer.object.external_message:
        class: Symfony\Component\Serializer\Normalizer\ObjectNormalizer
        autoconfigure: false
        arguments:
            $nameConverter: '@serializer.name_converter.camel_case_to_snake_case'

    app.serializer.denormalizer.array.external_message:
        class: Symfony\Component\Serializer\Normalizer\ArrayDenormalizer
        autoconfigure: false

    app.serializer.normalizer.date_time.external_message:
        class: Symfony\Component\Serializer\Normalizer\DateTimeNormalizer
        autoconfigure: false
        arguments:
            - { datetime_format: 'Y-m-d H:i:s' }

    app.serializer.encoder.json.external_message:
        class: Symfony\Component\Serializer\Encoder\JsonEncoder
        autoconfigure: false

    app.serializer.external_message:
        class: Symfony\Component\Serializer\Serializer
        autoconfigure: false
        arguments:
            $normalizers:
                - '@app.serializer.normalizer.date_time.external_message'
                - '@app.serializer.normalizer.object.external_message'
                - '@app.serializer.denormalizer.array.external_message'
            $encoders:
                - '@app.serializer.encoder.json.external_message'

    League\Flysystem\FilesystemOperator: '@default.storage'

when@dev:
    services:
        _defaults:
            autowire: true
            autoconfigure: true

        App\Configuration\Infrastructure\DataFixtures\:
            resource: '../src/Configuration/Infrastructure/DataFixtures/*'

        App\Tests\TestCase\:
            resource: '../tests/TestCase/*'

        App\Tests\Utils\:
            resource: '../tests/Utils/*'

        ProxyManager\Factory\AccessInterceptorValueHolderFactory:
            class: ProxyManager\Factory\AccessInterceptorValueHolderFactory

when@test:
    services:
        _defaults:
            autowire: true
            autoconfigure: true
            public: true

        App\Tests\TestCase\:
            resource: '../tests/TestCase/*'

        App\Tests\Utils\:
            resource: '../tests/Utils/*'
